.Form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  gap: 15px;
}

.flex_end {
  align-self: flex-end;
}

.flex_center {
  align-self: center;
}

.ErrorText {
  color: red;
}

.Form input[type="submit"] {
  width: 100%;
  font-size: 16px;
  padding: 10px 40px;
  border: none;
  background-color: #35c53f;
  transition: background 0.2s;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.Form input[type="submit"]:hover {
  background-color: #31b83a;
}

.Form input[type="text"],
.Form input[type="email"],
.Form input[type="password"] {
  width: 100%;
  font-size: 16px;
  padding: 8px 10px;
  background-color: #e2e4e6;
  color: #000000;
  border: none;
  font-weight: normal;
}

::placeholder {
  color: #8c8c8c;
  opacity: 0.6;
}

.Form hr {
  border: 1px solid #b0c3dc48;
}

.Form h1 {
  color: #333941;
  font-weight: bold;
  font-size: 30px;
}

.Form p,
.Form span {
  font-size: 16px;
  font-weight: lighter;
  text-align: justify;
}

.Form a {
  color: #3d7eeb;
  text-decoration: none;
}
