.Form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  gap: 20px;
}

.Form__padding {
  padding: 20px;
}

.Column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Row {
  display: flex;
  gap: 15px;
}

.ErrorText {
  display: flex;
  text-align: left;
  gap: 10px;
}

.ErrorText img {
  width: 35px;
}

.ErrorText_Text {
  color: red;
  align-self: center;
}

.Form input[type="submit"] {
  width: 100%;
  font-size: 16px;
  padding: 10px 40px;
  border: none;
  background-color: #35c53f;
  transition: background 0.2s;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.Form input[type="submit"]:hover {
  background-color: #31b83a;
}

.Form hr {
  border: 1px solid #b0c3dc48;
}

.Form h1 {
  color: #333941;
  font-weight: bold;
  font-size: 30px;
}

.Form p {
  font-size: 16px;
  font-weight: lighter;
  text-align: justify;
}

.Form label,
.Form span {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #8c8c8c;
  font-weight: 700;
  font-size: 14px;
}

.Form a {
  color: #3d7eeb;
  text-decoration: none;
}

.Form textarea {
  line-height: 150%;
  padding: 5px 10px;
  font-size: 16px;
  min-width: 100%;
  max-width: 100%;
  min-height: 175px;
  max-height: 175px;
  border-color: gainsboro;
  resize: none;
}

.Form select {
  padding: 2px 15px;
}

.Input {
  width: 100%;
  color: #000000;
  border: none;
  font-weight: normal;
}

::placeholder {
  color: #8c8c8c;
  opacity: 0.6;
}

.Input__BoxyText {
  padding: 8px 10px;
  background-color: #e2e4e6;
  font-size: 16px;
}

.Input__EditableText {
  border: none;
  font-size: 20px;
  padding: 8px;
  border-bottom: 1px solid gainsboro;
}
