.LandingPage {
  background: url("../../assets/LandingPageBackground.svg") no-repeat center 20%
    fixed;
  background-size: cover;
  height: 100vh;
  padding: 20px 60px;
}

.Navigation {
  display: flex;
}

.Navigation_links {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  flex: 1;
  gap: 20px;
}

.Hero {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0, -50%);
  gap: 20px;
}

.Hero span {
  font-weight: 700;
  font-size: 40px;
  color: white;
}

.Hero p {
  color: white;
  font-size: 16px;
}
