html
{
    zoom : 70%;
    font-family: 'Lato', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



#mainDiv
{
    display:flex;
    flex-direction: column;
}

#header
{
    display:flex;
    flex-direction: row;
}

#returnButton
{
    width : 100%;
    height : 10%;
}

#welcomeDiv
{
    display: flex;
    flex-direction: row;
}

#projectHeader
{
    display: flex;
    flex-direction: row;
    margin-left: 12%;
    font-weight: bold;
    font-family: 'Lato' , sans-serif;
    margin-top: 5%;
}

#seeProject
{
    margin-left : 70%; 
    margin-top: auto; 
    margin-bottom: auto ; 
    font-size : 18pt; 
    color : #6DCDFF; 
    text-decoration : none ; 
    line-height : 256.5%
}
