html
{
    zoom : 70%;
    font-family: 'Lato', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.top-left
{
    position: absolute;
    margin-top: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    font-size: 14pt;
    font-weight: bold;
    color: #FFFFFF;
}

.centerbottom
{
    position: absolute;
    margin-top : 6.5%;
    font-size: 12pt;
    color: #333941
}

.headName
{
    margin-top: auto;
    margin-bottom:auto;
    font-family: 'Lato', sans-serif;
}
#mainTask
{
    border: 1px solid #c0c0c0;
    padding: 1%;
    box-shadow: 0 0 5px 3px #c0c0c0;
    margin-left: 12%;
    margin-right: 10%;
    border-radius: 25px;
}


#mainDiv
{
    display:flex;
    flex-direction: column;
}

#header
{
    display:flex;
    flex-direction: row;
}

#returnButton
{
    width : 100%;
    height : 10%;
}

#welcomeDiv
{
    display: flex;
    flex-direction: row;
}

#projectHeader
{
    display: flex;
    flex-direction: row;
    margin-left: 12%;
    font-weight: bold;
    font-family: 'Lato' , sans-serif;
    margin-top: 3%;
}

#seeProject
{
    margin-left : 70%; 
    margin-top: auto; 
    margin-bottom: auto ; 
    font-size : 18pt; 
    color : #6DCDFF; 
    text-decoration : none ; 
    line-height : 256.5%
}

#project
{
    display: flex;
    flex-direction: row;
    margin-left: 12%;
    font-family: 'Lato' , sans-serif;
    margin-top: 25px;
}

#taskHeader
{
    display: flex;
    flex-direction: row;
    margin-left: 12%;
    font-weight: bold;
    font-family: 'Lato' , sans-serif;
    margin-top: 3%;
}


