.LoginPage {
  background: url("../../assets/RegistrationLoginBackground.svg") no-repeat
    center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-position-y: calc(70% - 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  padding: 40px 0 100px 0;
}

.LoginPage_Form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
