.LinkItem {
  color: #c0c0c0;
  display: flex;
  padding: 10px 0 10px 30px;
  gap: 15px;
  text-decoration: none;
}

.LinkItem:hover {
  color: #e2e2e2;
  background-color: #252e3f;
}

.LinkItem__Selected {
  background-color: #2f3a4e;
}

.LinkItem__Selected:hover {
  background-color: #3a465c;
}

.LinkItem img {
  width: 18px;
  height: auto;
}

.LinkItem span {
  font-size: 14px;
}
