.PrioritySignal {
  width: 100px;
  text-align: center;
  padding: 3px 0;
  border-radius: 20px;
  color: white;
}

.High {
  background-color: #ff4d4d;
}

.Medium {
  background-color: #ffa24d;
}

.Low {
  background-color: #87e462;
}
