.TaskPreviewList {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px 3px #c0c0c0;
}

.List {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
