.ProjectPreviewItem {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  min-height: 184px;
  transition: all 0.5s;
  min-height: 225px;
  max-height: 225px;
}

.ProjectPreviewItem__active {
  background-color: #e9e9e9;
}

.ProjectPreviewItem__inactive {
  background-color: white;
  transition: all 0s;
}

.Picture {
  min-width: 175px;
  min-height: 125px;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
}

.Title {
  margin-left: auto;
  margin-right: auto;
  color: #151b26;
  max-width: 170px;
  text-align: center;
}

.Title__inactive {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Title__active {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Add {
  background: url("../../../assets/NewProject_Icon.svg") center no-repeat;
  border: 2px #333941 dashed;
}

.Existing {
  background: linear-gradient(
    0deg,
    rgba(107, 166, 220, 0.9),
    rgba(107, 166, 220, 0.9)
  );
}
