@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scopedPage {
  width: 900px;
  margin: 0 auto;
  padding: 50px 0 100px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
