.WorkspaceNavigationBar {
  z-index: 100;
  box-shadow: 1px 0 5px 2px rgba(209, 209, 209, 0.575);
}

.Main {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.Main__isProject {
  border-bottom: 1px solid gainsboro;
}

.Main h1 {
  font-size: 20px;
  font-weight: 600;
}

.NavigationContent {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  min-height: 50px;
}

.Hamburger {
  height: 50px;
  width: 50px;
  padding: 9px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s;
}

.Hamburger:hover {
  background-color: gainsboro;
}

.UserPortrait {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.Menu {
  position: absolute;
  top: 70px;
  right: 30px;
}

.ProjectBar {
  padding: 10px 30px;
  display: flex;
  align-items: center;
}

.ProjectBar_Members {
  display: flex;
  gap: 5px;
}

.ProjectBar_Members span {
  align-self: center;
  margin-right: 10px;
}

.ProjectBar_Members img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
