.TaskPage {
  padding: 20px 0 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Priorities {
  background-color: rebeccapurple;
}

.List {
  overflow-x: auto;
  /* TODO: Change this hacky attribute  */
  flex: 1000px;
}

.TaskPage_Footer {
  flex-basis: 0;
  box-shadow: -1px 0 5px 2px rgba(209, 209, 209, 0.575);
  min-height: 80px;
  padding: 15px;
}

.Footer_Content {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.Column_1 {
  flex: 1;
}
