.SideBar {
  background-color: #141a25;
  color: #c0c0c0;
  width: 300px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Division {
  padding-left: 30px;
}

.SideBar hr {
  border-color: #373e4b;
}
