.HomePage {
  width: 700px;
  margin: 0 auto;
  padding-top: 30px;
}

.Header {
  display: flex;
  gap: 35px;
}

.Header_Text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.Header_Text h1 {
  color: #333941;
  font-size: 22px;
  font-weight: 400;
}

.Header_Text p {
  line-height: 150%;
  color: #8c8c8c;
  text-align: justify;
}

.Header_Column {
  flex-basis: 20%;
}
