@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.narrowPage {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.minisculePage {
  padding: 50px 0 100px 0;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(177, 177, 177);
}

::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

::-webkit-scrollbar-track {
  background: #eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
}

.sidebar-transition-enter {
  width: 0;
}

.sidebar-transition-enter-active {
  overflow: hidden;
  white-space: nowrap;
  width: 275px;
  transition: width 0.5s;
}

.sidebar-transition-exit {
  width: 275px;
}

.sidebar-transition-exit-active {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  transition: all 0.5s;
}
