.ProjectPreviewList {
  display: flex;
  gap: 18px;
  overflow-x: auto;
  min-height: 260px;
  max-height: 260px;
}

.ProjectPreviewList_Loader {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
